body {
  margin: 0;
  height: 100%;
}
canvas {
  width: 100%;
  height: 100%;
}

#overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  background: rgba(149, 143, 143, 0.219);
}

#overlay button {
  background: #eeb0b0;
  border: 0;
  border: 1px solid #315dd4;
  color: #000000;
  margin: 15px;
  padding: 16px 20px;
  text-transform: uppercase;
  cursor: pointer;
}

/*
#animateButton {
  font-family: Monospace;
  background: #89ddf3;
  border: 0;
  opacity: 0.8;
  color: #582069;
  padding: 10px 10px;
  text-transform: uppercase;
  cursor: pointer;

  position: absolute;
  display: block;
  z-index: 0;
  left: 47%;
  top: 90%;
  bottom: 15%;
}


#spacial {
  font-family: Monospace;
  background: #89ddf3;
  border: 0;
  opacity: 0.8;
  color: #582069;
  padding: 10px 10px;
  text-transform: uppercase;
  cursor: pointer;

  position: absolute;
  display: block;
  z-index: 0;
  left: 20%;
  bottom: 15%;
}
*/
